NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:root@localhost/Port-102?statusColor=&enviroment=local&name=&tLSMode=0&usePrivateKey=false&safeModeLevel=0&advancedSafeModeLevel=0&driverVersion=0&showSystemSchemas=0&lazyLoadItems=0"
JWT_ACCESS_SECRET="change-me-access-secret"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"
JWT_HOTEL_SELECTION_EXPIRES_IN="10m"
BCRYPT_SALT_ROUNDS=12
INITIAL_HOTEL_NAME="Demo Hotel"
INITIAL_HOTEL_CODE="DEMO"
INITIAL_ADMIN_NAME="Hotel Admin"
INITIAL_ADMIN_EMAIL="admin@demo-hotel.com"
INITIAL_ADMIN_PASSWORD="ChangeMe123!"
